/BeansContext.properties
/CuentaCorrientePendiente.jasper
/CuentaCorrientePendiente.jrxml
/GalleryImage.hbm.xml
/META-INF/
/Municipal-labels_en.properties
/Municipal-labels_es.properties
/Municipal-messages_en.properties
/ValorTributarioPendiente.jasper
/ValorTributarioPendiente.jrxml
/application.xml
/com/
/controllers.xml
/controllers_1.xml
/dtds/
/editors.xml
/hibernate.cfg.xml
/jndi-jboss.properties
/jndi-websphere.properties
/municipal.properties
/naviox-users.properties
/naviox.properties
/xava-junit.properties
/xava.properties
